@page "/"

<PageTitle>Home</PageTitle>

<RadzenRow>
    <RadzenColumn Size="12" JustifyContent="JustifyContent.Center">
        <RadzenText Text="AdventureWorks Cycles, Back Office System" TextStyle="TextStyle.H6"
            TextAlign="TextAlign.Center" class="rz-my-0">
        </RadzenText>
    </RadzenColumn>
</RadzenRow>

<RadzenRow>
    <RadzenColumn Size="12" JustifyContent="JustifyContent.Center" class="rz-p-0">
        <RadzenImage Path="/assets/accountant 2.svg" style="width: 100%; height: 600px;"></RadzenImage>
    </RadzenColumn>
</RadzenRow>

@* <p style="text-align:center;">
<img src="/assets/accountant 2.svg" class="homelogo" alt="background image for the Home component" />
</p> *@

@* <RadzenImage Path="/assets/accountant 2.svg" style="width: 100%; height: 600px;"></RadzenImage> *@